# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Dataset (DO NOT PUSH)
# =========================
dataset/
sample_chest_xray_data/

# =========================
# Trained Models (Large Files)
# =========================
models/*.h5
models/*.keras
models/*.pb

# =========================
# Flask Uploads & Outputs
# =========================
static/uploads/
static/gradcam/

# =========================
# Jupyter Notebook Cache
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/